* {
  border: solids 1px;
}

a:link {
  text-decoration: none;
  color: none;
}

a:visited {
  text-decoration: none;
  color: none;
}

/*! ----- Title Page Nav Bar section   ------ */
.navbar_div {
  background-color: #0F3057;
}

.navbarx_body {
  background-color: #0F3057;
  padding: 0 1.5% 0 0;
  border-bottom: solid 0.5px #FFF2CC;
}

.navbarimg {
  height: 50px;
  width: auto;
  max-width: 100% max-height:auto;
  padding-left: 20%;
}

.navbarx_body .navbar-toggler {
  color: #FFD966;
  border: solid 2px #FFD966;
}

.navbarx_body .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 217, 102, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar_itemx {
  color: #FFD966;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 700;
  font-size: 1rem;
}

.navbar_itemx:hover {
  color: #D6F6F0;
}

@media (min-width: 1058px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

@media (max-width: 1058px) {
  .nav-item .navbar_itemx {
    padding-left: 1rem;
  }

  .navbarx_body {
    padding: 2% 1.5% 2% 0;
  }

  .navbar_itemx {
    font-size: 1.3rem;
    ;
  }
}

/*! ----- Title Page Main Section  ------ */
.title_div {
  height: auto;
  position: relative;
  padding: 0 0 25% 0;
  background-image: url("./Images/Title_BG.jpg");
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.title_background {
  position: relative;
  z-index: -1;
  width: 100%;
  display: block;
}

.title_page_text {
  color: #A3EBDD;

  padding-left: 3%;
  padding-top: 20%;
  padding-right: 3%
}

.title_name {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 3rem;
}

.title_subheader {
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 400;
  width: 100%;
  font-size: 2rem;
  color: #FFD966;
}

.title_text_breaker {
  width: 40%;
  color: #FFD966;
}

@media screen and (max-width: 1058px) {
  .title_page_text {
    padding-top: 20%;
  }

  .title_text_breaker {
    width: 40%;
  }
}

@media screen and (min-width: 770px) and (max-width: 1058px) {
  .title_div {
    padding: 0 0 20% 0;
  }

  .title_name {
    font-size: 2.2rem;
    width: 50%;
  }

  .title_subheader {
    width: 100%;
    font-size: 1.6rem;
  }
}

@media screen   and (max-width: 770px) {
  .title_div {
    padding: 0 0 20% 0;
  }

  .title_name {
    font-size: 2rem;
    width: 50%;
  }

  .title_subheader {
    width: 100%;
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 558px) {
.title_div {
  padding: 0 0 10% 0;
}
}

/*! ----- Intro_Page_Top Section  ------ */
.intro_top_div {
  background-color: #D6F6F0;
  padding-top: 4%;
  padding-bottom: 5%;
}

.h1_type1 {
  color: #00BAC8;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
}

.intro_h1 {
  margin-left: 15%;
  text-align: center;
}

.intro_image {
  position: relative;
  float: left;
  width: 20%;
  margin-top: 3%;
  margin-left: 2%;
}

.intro_text_area {
  margin: 3% 10% 0 25%;
}

.p_text_intro {
  color: #595959;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  text-align: justify;
}

.intro_subheader {
  padding-top: 3%;
}

.intro_subtext {
  color: #0F3057;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  text-align: center;
  padding-left: 1%;
  display: inline;
  margin: 0;
}

.intro_subtext_img {
  position: relative;
  float: left;
  padding-left: 10%;
  padding-right: 0.5%;
  padding-top: 0.8%;
}

@media screen and (max-width: 1058px) {
  .h1_type1 {
    font-size: 2rem;
  }

  .p_text_intro {
    font-size: 1rem;
  }

  .intro_subtext {
    font-size: 1.2rem;
  }

  .intro_image {
    width: 30%;
  }

  .intro_text_area {
    margin: 3% 3% 0 33%;
  }
}

@media screen and (max-width: 558px) {
  .intro_top_div {
    text-align: auto;
  }

  .intro_h1 {
    margin: auto auto 3% auto;
  }

  .intro_text_area {
    margin: 3% 5% 0 5%;
  }

  .intro_top_div {
    padding-bottom: 12%;
  }

  .intro_image {
    display: block;
    float: none;
    margin: auto;
  }
}

/*! ----- Intro_Page_Bottom Section  ------ */
.intro_bottom_div {
  background-color: #0f3057;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3CradialGradient id='a' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%2300587a'/%3E%3Cstop offset='1' stop-color='%230f3057'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='750' x2='1550' y2='750'%3E%3Cstop offset='0' stop-color='%23084469'/%3E%3Cstop offset='1' stop-color='%230f3057'/%3E%3C/linearGradient%3E%3Cpath id='s' fill='url(%23b)' d='M1549.2 51.6c-5.4 99.1-20.2 197.6-44.2 293.6c-24.1 96-57.4 189.4-99.3 278.6c-41.9 89.2-92.4 174.1-150.3 253.3c-58 79.2-123.4 152.6-195.1 219c-71.7 66.4-149.6 125.8-232.2 177.2c-82.7 51.4-170.1 94.7-260.7 129.1c-90.6 34.4-184.4 60-279.5 76.3C192.6 1495 96.1 1502 0 1500c96.1-2.1 191.8-13.3 285.4-33.6c93.6-20.2 185-49.5 272.5-87.2c87.6-37.7 171.3-83.8 249.6-137.3c78.4-53.5 151.5-114.5 217.9-181.7c66.5-67.2 126.4-140.7 178.6-218.9c52.3-78.3 96.9-161.4 133-247.9c36.1-86.5 63.8-176.2 82.6-267.6c18.8-91.4 28.6-184.4 29.6-277.4c0.3-27.6 23.2-48.7 50.8-48.4s49.5 21.8 49.2 49.5c0 0.7 0 1.3-0.1 2L1549.2 51.6z'/%3E%3Cg id='g'%3E%3Cuse href='%23s' transform='scale(0.12) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.2) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.25) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(0.3) rotate(-20)'/%3E%3Cuse href='%23s' transform='scale(0.4) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(0.5) rotate(20)'/%3E%3Cuse href='%23s' transform='scale(0.6) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.7) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.835) rotate(-40)'/%3E%3Cuse href='%23s' transform='scale(0.9) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(1.05) rotate(25)'/%3E%3Cuse href='%23s' transform='scale(1.2) rotate(8)'/%3E%3Cuse href='%23s' transform='scale(1.333) rotate(-60)'/%3E%3Cuse href='%23s' transform='scale(1.45) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(1.6) rotate(10)'/%3E%3C/g%3E%3C/defs%3E%3Cg %3E%3Cg transform=''%3E%3Ccircle fill='url(%23a)' r='3000'/%3E%3Cg opacity='0.5'%3E%3Ccircle fill='url(%23a)' r='2000'/%3E%3Ccircle fill='url(%23a)' r='1800'/%3E%3Ccircle fill='url(%23a)' r='1700'/%3E%3Ccircle fill='url(%23a)' r='1651'/%3E%3Ccircle fill='url(%23a)' r='1450'/%3E%3Ccircle fill='url(%23a)' r='1250'/%3E%3Ccircle fill='url(%23a)' r='1175'/%3E%3Ccircle fill='url(%23a)' r='900'/%3E%3Ccircle fill='url(%23a)' r='750'/%3E%3Ccircle fill='url(%23a)' r='500'/%3E%3Ccircle fill='url(%23a)' r='380'/%3E%3Ccircle fill='url(%23a)' r='250'/%3E%3C/g%3E%3Cg transform='rotate(-144 0 0)'%3E%3Cuse href='%23g' transform='rotate(10)'/%3E%3Cuse href='%23g' transform='rotate(120)'/%3E%3Cuse href='%23g' transform='rotate(240)'/%3E%3C/g%3E%3Ccircle fill-opacity='0.35' fill='url(%23a)' r='3000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  padding-top: 2%;
  padding-bottom: 3%;
  margin: 0;
  text-align: center;
}

.intro_bottom_right {
  display: inline-block;
  width: auto;
  color: #D9D9D9;
  font-size: 2rem;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 600;
  position: relative;
  vertical-align: top;
  padding-top: 3%;
}

.circle1 {
  position: relative;
  background-color: #00BAC8;
  color: #FFF2CC;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-top: 35%;
  border: solid 5px #D9D9D9;
}

.intro_bottom_left {
  display: inline-block;
  width: 75%;
  margin: 0;
  position: relative;
  padding-top: 5%;
  vertical-align: top;
  text-align: center;
  left: -20px;
}

.work_area_item {
  text-align: center;
  display: inline-block;
  padding: 0 2% 6% 2%;
  position: relative;
  margin: 0 1% 0 1%;
  vertical-align: top;
}

.work_area_item_top_img {
  width: 90px;
  height: 100px;
}

.work_area_item_top_txt {
  color: #FFF2CC;
  font-size: 1.4rem;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 6400;
  padding-top: 10px;
  padding-bottom: 5px;
}

.work_area_item_break {
  max-width: 100%;
  height: 12px;
  color: #FFD966;
  margin: auto;
  border: none;
}

.BT_img {
  padding-top: 5%;
  max-width: 90px;
  max-height: auto;
}

.TMO_img {
  padding-top: 1%;
  max-width: 90px;
  max-height: auto;
  border-radius: 10%;
}

.Anthem_img, .Deloitte_img {
  margin-top: 16%;
  max-width: 100px;
  max-height: auto;
  border-radius: 10%;
}

.CAL_img {
  padding-top: 10%;
  max-width: 70px;
  max-height: auto;
}

.Mondelez_img {
  padding-top: 16%;
  max-width: 120px;
  max-height: auto;
}

.largescreenviewonly {
  position: relative;
  top: 40px;
  right: 60px;
}

.smallscreenviewonly {
  display: none;
}

@media screen and (max-width: 1058px) {
  .largescreenviewonly {
    display: none;
  }

  .smallscreenviewonly {
    padding-top: 6%;
    display: inline-block;
  }

  .work_area_item_top_txt {
    color: #D6F6F0;
    font-size: 1.2rem;
  }

  .work_area_item_top_img {
    width: 60px;
    height: 66px;
  }

  .BT_img, .CAL_img {
    max-width: 45px;
  }

  .Mondelez_img {
    max-width: 90px;
  }

  .TMO_img, .Anthem_img, .Deloitte_img {
    max-width: 80px;
  }
}

/*! ----- My Tenets Page  ------ */
.page3_tenets_section {
  background-color: #00BAC8;
  padding-top: 4%;
  padding-bottom: 5%;
  background-image: url("./Images/Matrix.png");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: right;
}

.h1_type2 {
  color: #FFD966;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
}

.tenets_h1 {
  margin: auto;
  text-align: center;
  padding-bottom: 2%;
  margin-right: 1%;
}

.h3_type2 {
  color: #FFF2CC;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 1.8rem;
}

.tenets_h3 {
  margin: auto 2% auto auto;
  text-align: right;
  padding-bottom: 4%;
}

.tenets_img_div {
  padding: 5% 1% 1% 1%;
}

.tenets_image {
  width: auto%;
  display: block;
  margin: auto;
  padding: 5% 0 1% 0;
}

.tenets_bullet_img {
  width: 60%;
  height: auto;
}

.tenets_text_div {
  margin: 0 0 0 0;
  padding: 0 3% 0 3%;
}

.tenets_bullet_div {
  text-align: center;
  margin: auto auto auto auto;
  padding: 0 0 0 0;
}

.tenets_bullet {
  margin: auto auto auto auto;
}

.p_text_tenets_container {
  margin: auto auto auto auto;
  padding: 0 1% 0 0;
}

.p_text_tenets {
  color: #FFF2CC;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  text-align: left;
  margin: auto auto auto auto;
}

@media screen and (min-width: 1058px) and (max-width:1180px) {
  .tenets_image {
    width: 400px;
    max-height: auto;
    margin: auto;
    padding: 22% 0 0% 0;
  }
}

@media screen and (max-width: 1058px) {
  .h1_type2 {
    font-size: 2rem;
  }

  .h3_type2 {
    font-size: 1.4rem;
  }

  .p_text_tenets {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 577px) and (max-width:1058px) {
  .page3_tenets_section {
    padding-top: 2%;
  }

  .tenets_h3 {
    margin: auto 7% auto auto;
    text-align: right;
    padding-bottom: 1%;
  }

  .tenets_bullet_img {
    max-width: 42%;
    max-height: auto;
  }
}

@media screen and (min-width: 991px) and (max-width:1058px) {
  .tenets_image {
    max-width: 300px;
    padding: 2% 0 2% 0;
  }
}

@media screen and (min-width: 577px) and (max-width:991px) {
  .tenets_image {
    max-width: 150px;
    padding: 1% 0 2% 0;
  }
}

@media screen and (max-width: 577px) {
  .page3_tenets_section {
    padding-top: 2%;
  }

  .tenets_bullet_img {
    max-width: 18px;
    max-height: auto;
  }

  .tenets_image {
    max-width: 100px;
    max-height: auto;
    margin: auto auto 2% auto;
    padding: 1% 0 2% 0;
  }

  .tenets_h3 {
    margin: auto 10% auto auto;
    text-align: right;
    padding-bottom: 1%;
  }
}

/*! ----- Page 4 Process  ------ */
.page4_process_section {
  background-color: #D6F6F0;
  padding-top: 4%;
  padding-bottom: 5%;
  margin: auto;
  text-align: center;
}

.process_flow_h1 {
  margin-left: 5%;
  text-align: left;
}

.process_flow_left_img {
  max-width: 70%;
  max-height: auto;
}

.process_flow_right_img {
  max-width: 25%;
  max-height: auto;
}

.process_flow_bottom_img {
  max-width: 70%;
  max-height: auto;
  margin: auto 5% auto auto;
  display: none;
}

@media screen and (max-width: 1058px) {
  .process_flow_left_img {
    max-width: 90%;
    margin: auto;
  }

  .process_flow_right_img {
    display: none;
  }

  .process_flow_bottom_img {
    max-width: 90%;
    display: block;
  }
}

/*! ----- My Core Values Page  ------ */
.page5_values_section {
  background-color: #0f3057;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect stroke='%230f3057' stroke-width='0.34' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='3' height='3' patternUnits='userSpaceOnUse' patternTransform='scale(10) translate(-900 -675)'%3E%3Cuse fill='%2314345a' href='%23s' y='2'/%3E%3Cuse fill='%2314345a' href='%23s' x='1' y='2'/%3E%3Cuse fill='%2319385e' href='%23s' x='2' y='2'/%3E%3Cuse fill='%2319385e' href='%23s'/%3E%3Cuse fill='%231d3c61' href='%23s' x='2'/%3E%3Cuse fill='%231d3c61' href='%23s' x='1' y='1'/%3E%3C/pattern%3E%3Cpattern id='b' width='7' height='11' patternUnits='userSpaceOnUse' patternTransform='scale(10) translate(-900 -675)'%3E%3Cg fill='%23224164'%3E%3Cuse href='%23s'/%3E%3Cuse href='%23s' y='5' /%3E%3Cuse href='%23s' x='1' y='10'/%3E%3Cuse href='%23s' x='2' y='1'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='8'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='5' y='2'/%3E%3Cuse href='%23s' x='5' y='6'/%3E%3Cuse href='%23s' x='6' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='h' width='5' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(10) translate(-900 -675)'%3E%3Cg fill='%23224164'%3E%3Cuse href='%23s' y='5'/%3E%3Cuse href='%23s' y='8'/%3E%3Cuse href='%23s' x='1' y='1'/%3E%3Cuse href='%23s' x='1' y='9'/%3E%3Cuse href='%23s' x='1' y='12'/%3E%3Cuse href='%23s' x='2'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='2'/%3E%3Cuse href='%23s' x='3' y='6'/%3E%3Cuse href='%23s' x='3' y='11'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='4' y='10'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='17' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(10) translate(-900 -675)'%3E%3Cg fill='%23274568'%3E%3Cuse href='%23s' y='11'/%3E%3Cuse href='%23s' x='2' y='9'/%3E%3Cuse href='%23s' x='5' y='12'/%3E%3Cuse href='%23s' x='9' y='4'/%3E%3Cuse href='%23s' x='12' y='1'/%3E%3Cuse href='%23s' x='16' y='6'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='19' height='17' patternUnits='userSpaceOnUse' patternTransform='scale(10) translate(-900 -675)'%3E%3Cg fill='%230f3057'%3E%3Cuse href='%23s' y='9'/%3E%3Cuse href='%23s' x='16' y='5'/%3E%3Cuse href='%23s' x='14' y='2'/%3E%3Cuse href='%23s' x='11' y='11'/%3E%3Cuse href='%23s' x='6' y='14'/%3E%3C/g%3E%3Cg fill='%232c496b'%3E%3Cuse href='%23s' x='3' y='13'/%3E%3Cuse href='%23s' x='9' y='7'/%3E%3Cuse href='%23s' x='13' y='10'/%3E%3Cuse href='%23s' x='15' y='4'/%3E%3Cuse href='%23s' x='18' y='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='53' patternUnits='userSpaceOnUse' patternTransform='scale(10) translate(-900 -675)'%3E%3Cg fill='%23ffd966'%3E%3Cuse href='%23s' x='2' y='5'/%3E%3Cuse href='%23s' x='16' y='38'/%3E%3Cuse href='%23s' x='46' y='42'/%3E%3Cuse href='%23s' x='29' y='20'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='59' height='71' patternUnits='userSpaceOnUse' patternTransform='scale(10) translate(-900 -675)'%3E%3Cg fill='%23ffd966'%3E%3Cuse href='%23s' x='33' y='13'/%3E%3Cuse href='%23s' x='27' y='54'/%3E%3Cuse href='%23s' x='55' y='55'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='g' width='139' height='97' patternUnits='userSpaceOnUse' patternTransform='scale(10) translate(-900 -675)'%3E%3Cg fill='%23ffd966'%3E%3Cuse href='%23s' x='11' y='8'/%3E%3Cuse href='%23s' x='51' y='13'/%3E%3Cuse href='%23s' x='17' y='73'/%3E%3Cuse href='%23s' x='99' y='57'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23b)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23h)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23c)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23d)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23e)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23f)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23g)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  background-size: 15%;
  padding-top: 4%;
  padding-bottom: 5%;
}

.values_h1 {
  margin: auto;
  text-align: center;
  padding-bottom: 2%;
}

.values_h3 {
  margin: auto;
  text-align: center;
  padding-bottom: 4%;
}

.values_main_div {}

.values_card_body {
  padding: 0 0 0 0;
  margin: auto;
  text-align: center;
}

.values_img {
  max-width: 90px;
  max-height: 100px;
  text-align: center;
}

.values_card_h3 {
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  margin-top: 6%;
}

.values_card_p_text {
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  margin: auto;
}

.flipcard_style1 {
  color: #595959;
  text-align: center;
  background-color: #D6F6F0;
}

.flipcard_style2 {
  color: #FFF2CC;
  text-align: center;
  background-color: #00BAC8;
}

.flipcard_style3 {
  color: #FFD966;
  text-align: center;
  background-color: #00587A;
}

@media screen and (max-width: 1058px) {
  .values_card_h3 {
    font-size: 1.3rem;
  }

  .page5_values_section {
    background-size: 20%;
  }

  .values_img {
    max-width: 70px;
    max-height: 77px;
    text-align: center;
  }
}

@media screen and (max-width: 558px) {
  .page5_values_section {
    background-size: 40%;
  }
}

/* Flip card CSS */
.values_card_container .card {
  background: none;
  border: none;
  padding-bottom: 5%;
}

.card-flip>div {
  backface-visibility: hidden;
  transition: transform 400ms;
  transition-timing-function: linear;
  width: 90%;
  height: 90%;
  margin: auto;
  display: flex;
  padding-top: 5%;
  padding-bottom: 5%;
}

.card-front {
  transform: rotateY(0deg);
}

.card-back {
  transform: rotateY(180deg);
  position: absolute;
  left: 5%;
  padding-left: 5%;
  padding-right: 5%;
}

.card-flip:hover .card-front {
  transform: rotateY(-180deg);
}

.card-flip:hover .card-back {
  transform: rotateY(0deg);
  box-shadow: 0 0 9px #FFF2CC;
}

/*! ----- My Work Samples Page  ------ */
.page6_work_section {
  background-image: url("./Images/Topo_BG.png");
  background-repeat: repeat;
  background-color: #00bac8;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23d6f6f0' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23d6f6f0' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23d8f7e9' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23baeae5' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23ddf7e1' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%239cdedb' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23e6f7d8' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%237bd2d3' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23f2f5d1' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%2354c6cd' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23fff2cc' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%2300bac8' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  padding-top: 2%;
  padding-bottom: 10%;
}

.work_container_div {
  margin: auto;
  padding: 0 3% 1% 3%;
  align-items: center;
  justify-content: center;
}

.work_left_div {
  background-color: none;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 15%;
  position: relative;
  top: 50px;
}

.work_img_main {
  padding: 5% 0 10% 0;
  max-width: 120px;
  max-height: auto;
}

.work_h1 {
  color: #FFD966;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 2rem;
}

.work_right_div {
  margin: 0 0 0 0;
  text-align: center;
  padding-bottom: 3%;
  position: relative;
  bottom: 20px;
  height: 350px;
  display: flex;
}

.work-example-carousel {
  align-items: center;
  justify-content: center;
}

.carousel-inner {
  align-items: center;
  justify-content: center;
}

.carousel-item {
  margin-top: 4%;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin-left: 5%;
}

.work_p_text_type1 {
  color: #FFD966;
  background-color: #00587A;
}

.work_p_text_type2 {
  color: #00587A;
  background-color: #FFF2CC;
  border: solid 1px #00587A;
}

.work_p_text_type1, .work_p_text_type2 {
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  text-align: center;
  margin: 0 5% 0 5%;
  padding: 3% 3% 3% 3%;
  text-align: center;
  position: relative;
}

.work_p_text_type1:hover {
  box-shadow: 0 0 10px #FFF2CC;
}

.work_p_text_type2:hover {
  box-shadow: 0 0 10px #FFF2CC;
}

.work_sample_img_type1 {
  max-width: 70px;
  max-height: 77px;
  position: relative;
  margin: 2% 79% 0 0;
}

.work_sample_img_type2 {
  max-width: 70px;
  max-height: 77px;
  position: relative;
  margin: 0 0 2% 79%;
}

.proj_detail_btn1 {
  color: #FFD966;
  border-color: #FFD966;
  background-color: #00BAC8;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  margin-top: 1%;
}

.proj_detail_btn1:hover {
  color: #000;
  background-color: #FFD966;
  border-color: #FFD966;
}

.proj_detail_btn2 {
  color: #FFF2CC;
  border-color: #FFF2CC;
  background-color: #00587A;
}

.proj_detail_btn2:hover {
  color: #000;
  background-color: #FFD966;
  border-color: #FFF2CC;
}

.carousel-item {
  padding: 5% 5% 5% 5%;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%595959'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%595959'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 3rem;
  height: 3rem;
}

.carousel-control-prev,
.carousel-control-next {}

.Project2_Img {
  margin: auto;
  text-align: center;
  width: 50px;
}

@media screen and (max-width: 1058px) {
  .page6_work_section {
    background-size: 150%;
  }

  .work_h1 {
    font-size: 1.5rem;
  }

  .col-sm-12 .carousel-item {
    width: 95%;
    margin-left: 2.5%;
  }

  .work_img_main {
    max-width: 120px;
    max-height: auto;
    padding-bottom: 6%;
    padding-top: 2%;
  }

  .work_right_div {
    height: 300px;
  }

  .work_p_text_type1, .work_p_text_type2 {
    font-size: 1.1rem;
  }

  .work_sample_img_type1, .work_sample_img_type2 {
    max-width: 40px;
    max-height: 44px;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: 2rem;
    height: 2rem;
  }
}

@media screen and (max-width: 558px) {
  .page6_work_section {
    background-size: 200%;
  }

  .work_container_div {
    margin: auto;
    padding: 1% 3% 6% 3%;
  }
}

/*! ----- Modal Section for My Work Samples ------ */
.project_info_header, .project_info_footer {
  background-color: #0F3057;
  color: #FFD966;
  text-align: justify;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
}

.btn_mod {
  background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23D6F6F0'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
  width: 0.75em;
  height: 0.75em;
}

.project_info_container {
  padding: 0 0 0 0;
  text-align: center;
  background-repeat: repeat;
  background-size: 70%;
}

.telco_BG {
  background-image: url("./Images/Network_Back1.jpg");
}

.insurance_BG {
  background-image: url("./Images/Strategy.jpg");
}

.gov_BG {
  background-image: url("./Images/DNA.jpg");
  background-size: 100%;
  background-repeat: none;
}

.sup_BG {
  background-image: url("./Images/Tech_Support.png");
  background-size: 100%;
  background-repeat: none;
}

.lab_BG {
  background-image: url("./Images/Lab2.jpg");
  background-size: 100%;
  background-repeat: none;
}

.project_info_text {
  padding: 5% 1% 2% 1%;
  width: 90%;
  position: relative;
  margin: auto;
}

.project_modal_text_section1 {
  background-color: #D6F6F0;
  text-align: justify;
  padding: 1% 2% 1% 2%;
}

.project_modal_text_section2 {
  background-color: #faf3e0;
  text-align: justify;
  padding: 1% 2% 1% 2%;
}

.project_modal_text_section3 {
  background-color: #00BAC8;
  text-align: justify;
  padding: 1% 2% 1% 2%;
}

.project_detail_h3 {
  color: #595959;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.2em;
}

.project_detail_p_text {
  color: #595959;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 400;
  font-size: 1em;
}

.project_modal_text_section3 .project_detail_h3, .project_modal_text_section3 .project_detail_p_text {
  color: #faf3e0;
}

.next_example_button {
  font-weight: 400;
}

.close_button {
  background-color: #595959;
  color: #faf3e0;
  border: #595959;
  font-weight: 400;
}

@media screen and (max-width: 558px) {
  .project_info_header {
    font-size: 2rem;
  }

  .project_detail_h3 {
    font-size: 1.2rem;
  }

  .project_detail_p_text {
    font-size: 1.1rem;
  }
}

/*! ----- My Experience Page  ------ */
.page7_experience_section {
  background-color: #faf3e0;
  padding-top: 4%;
  padding-bottom: 5%;
}

.experience_h1 {
  margin: auto;
  text-align: left;
  padding-bottom: 2%;
  margin-left: 3%;
}

.experience_container_div {
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
}

.experience_left_div {
  text-align: center;
  padding-top: 3%;
  position: relative;
  margin: auto 2% auto 0;
}

.p_text_experience_main {
  color: #595959;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  text-align: justify;
}

.hr_experience {
  border: none;
  border-top: 5px dotted #00BAC8;
  background: none;
  height: 0;
  width: 5%;
  margin: auto;
}

.button_experience {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: #595959;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 1% 1% 1% 1%;
  border: solid 0.3px #00587A;
  background-color: #D6F6F0;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  width: 45%;
  margin: 3% auto 3% auto;
}

.button_experience:hover {
  background: #00587A;
  border: solid #00587A 1px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-decoration: none;
  color: #FFD966;
  box-shadow: 0 0 20px #D6F6F0;
}

.experience_link_img {
  margin: 0 2% 0 0;
  max-width: 40px;
  max-height: auto;
}

.p_text_experience_bottom {
  color: #00BAC8;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 600;
  font-size: 1.3rem;
  margin: 3% auto 3% auto;
  text-align: justify;
}

.experience_final_img {
  margin: 15% auto 3% auto;
  max-width: 90px;
  max-height: auto;
}

.experience_final_img_alt {
  display: none;
}

.experience_right_div {
  text-align: center;
  background-color: #D6F6F0;
}

.col-lg-3-5, .col-md-3-5 {
  flex: 0 0 auto;
  width: 30%;
}

.experience_right_div_alt {
  display: none;
  text-align: center;
  background-color: #D6F6F0;
}

.experience_img_main {
  margin: 13% 0 10% 0;
  max-width: 120px;
  max-height: auto;
}

.exp_h2_1, .exp_h2_2, .exp_h2_3, .exp_h2_4 {
  color: #595959;
  font-family: 'Montserrat', sans-serif;
}

.exp_h2_1 {
  font-size: 1.2rem;
  font-weight: 400;
}

.exp_h2_2 {
  font-size: 1.4rem;
  font-weight: 400;
}

.exp_h2_3 {
  font-size: 1.6rem;
  font-weight: 600;
}

.exp_h2_4 {
  font-size: 2rem;
  font-weight: 700;
}

@media screen and (max-width: 1058px) {
  .p_text_experience_main, .p_text_experience_bottom {
    font-size: 1.2rem;
  }

  .button_experience, .button_experience:hover {
    font-size: 1.2rem;
    width: 55%;
  }
}

@media screen and (min-width: 770px) and (max-width: 1058px) {
  .experience_final_img {
    max-width: 70px;
    max-height: auto;
  }
}

@media screen and (max-width: 770px) {
  .experience_left_div {
    padding-top: 8%;
  }

  .button_experience, .button_experience:hover {
    font-size: 1.2rem;
    width: 80%;
    padding: 2% 2% 2% 2%;
  }

  .experience_final_img_alt {
    display: inline-block;
    margin: 5% 0 2% 0;
    max-width: 70px;
    max-height: auto;
  }

  .experience_final_img {
    display: none;
  }

  .experience_right_div_alt {
    display: inline-block;
  }

  .experience_right_div {
    display: none;
  }

  .experience_img_main {
    margin: 5% 0 5% 0;
    max-width: 120px;
    max-height: auto;
  }
}

/*! ----- COntact Me Page  ------ */
.page8_contact_section {
  background-color: #00bac8;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 2 1'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(79,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%2300bac8'/%3E%3Cstop offset='1' stop-color='%23d6f6f0'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='0' y2='1' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%2300587a' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%2300587a' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='2' y2='2' gradientTransform='rotate(67,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%2300587a' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%2300587a' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='2' height='1'/%3E%3Cg fill-opacity='0.51'%3E%3Cpolygon fill='url(%23b)' points='0 1 0 0 2 0'/%3E%3Cpolygon fill='url(%23c)' points='2 1 2 0 0 0'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  padding-top: 4%;
  padding-bottom: 0;
}

.contact_top_div {
  text-align: center;
}

.contact_p_text1 {
  color: #595959;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  width: 76%;
  margin: 3% auto 3% auto;
}

.button_email {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: #595959;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 1% 1% 1% 1%;
  border: solid 0.3px #00587A;
  background-color: #D6F6F0;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  width: 15%;
  margin: auto auto 5% auto;
}

.button_email:hover {
  background: #00587A;
  border: solid #00587A 1px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-decoration: none;
  color: #FFD966;
  box-shadow: 0 0 20px #D6F6F0;
}

.contact_bottom_div {
  background-color: #00587A;
  text-align: center;
  padding-bottom: 1%;
}

.contact_bottom_div_text1 {
  color: #FFD966;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  display: inline;
  margin: 2% 0 1% 0;
}

.linkedin_icon {
  margin: 2% 0 1% 0;
  color: #FFD966;
  position: relative;
  right: 3px;
  display: inline-block;
}

.contact_bottom_div_text2 {
  color: #D6F6F0;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  margin: 2% 0 2% 0;
  display: inline;
}

@media screen and (max-width: 1058px) {
  .contact_p_text1 {
    font-size: 1rem;
    margin: 3% auto 5% auto;
  }

  .button_email {
    width: 30%;
    font-size: 1.2rem;
  }
}

.attributions {
  color: grey;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 200;
  font-size: 0.6rem;
  text-align: right;
  margin: 0 2% 0 0;
}

@media screen and (max-width: 558px) {
  .contact_p_text1 {
    color: #595959;
  }
}
